/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
CREATE TABLE `photo_file` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '기본키',
  `folder_id` int(11) DEFAULT NULL COMMENT '폴더 기본키',
  `url` varchar(1023) DEFAULT NULL COMMENT '저장된 url',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '파일 생성 날짜',
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=131 DEFAULT CHARSET=utf8mb4 COMMENT='유저의 포토폴더 별 포토파일';

CREATE TABLE `photo_file_tag` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '기본키',
  `file_id` int(11) DEFAULT NULL COMMENT '해당하는 파일 id',
  `name` varchar(255) DEFAULT NULL COMMENT '태그 이름',
  `create_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '태그 생성 날짜',
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=225 DEFAULT CHARSET=utf8mb4 COMMENT='포토파일 태그';

CREATE TABLE `photo_folder` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '기본키',
  `user_id` int(11) DEFAULT NULL COMMENT '폴더를 생성한 유저 아이디',
  `name` varchar(255) DEFAULT NULL COMMENT '폴더명',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '폴더 생성 날짜',
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COMMENT='유저 별 포토폴더 정보';

CREATE TABLE `point_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '기본키',
  `user_id` int(11) DEFAULT NULL COMMENT '유저 아이디',
  `folder_id` int(11) DEFAULT NULL COMMENT '폴더 아이디',
  `file_id` int(11) DEFAULT NULL COMMENT '파일 아이디',
  `increase` int(11) DEFAULT NULL COMMENT '증가 포인트',
  `decrease` int(11) DEFAULT NULL COMMENT '감소 포인트',
  `create_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 날짜',
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=132 DEFAULT CHARSET=utf8mb4 COMMENT='포인트 히스토리';

CREATE TABLE `user` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '기본키',
  `name` varchar(255) NOT NULL COMMENT '유저 이름',
  `point` int(11) DEFAULT '0' COMMENT '포인트',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 날짜',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '수정 날짜',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COMMENT='유저 테이블';

/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
